    <html>
    
        <head> 
            <title> PHONES </title>
			
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript" src="static/javascript.js"></script>
			<link rel= "stylesheet" href= "static/style.css">
			
			<h1 class="title"> Mobile Store </h1>	

        </head>

        <body>
		<div class="div_left">
			<div class="grid-container">
			
				<div class="grid-item">
				
					<p class="p" id="Amazon Renewed"><b> Amazon Renewed </b></p>
						<form>
					
							<input type="submit" class="b1" value="(Renewed) Asus Zenfone Lite L1 ZA551KL-4G022IN (Gold, 2GB RAM, 16GB Storage)">
							<input type="submit" class="b1" value="(Renewed) Asus Zenfone Max M2 (Black, 3GB RAM, 32GB Storage)">
							<input type="submit" class="b1" value="(Renewed) Asus Zenfone Max Pro M1 ZB601KL-4A005IN (Black, 6GB RAM, 64GB Storage)">
							<input type="submit" class="b1" value="(Renewed) LG V30+ (Black, 128GB)">
							<input type="submit" class="b1" value="(Renewed) Lenovo K6 Power K33A42 (Silver, 32GB)">
							<input type="submit" class="b1" value="(Renewed) Mi A1 (Black, 64GB)">
							<input type="submit" class="b1" value="(Renewed) Mi A1 (Gold, 64GB)">
							<input type="submit" class="b1" value="(Renewed) Moto G5S Plus (Gold)">
							<input type="submit" class="b1" value="(Renewed) Motorola Moto G Turbo Edition XT1557 (Black, 16GB)">
							<input type="submit" class="b1" value="(Renewed) Nokia 6.1 Plus TA-1083 DS (Black, 64GB)">
							<input type="submit" class="b1" value="(Renewed) OnePlus 6 (Mirror Black 8 GB RAM +128GB)"	>	
						
						</form>
					
				</div>
				
				<div class="grid-item">
					<p class="p" id="4D"><b> 4D </b></p>
						<form>
							<input type="submit" class="b1" value="4D MM03 Wireless Telephone (White)">
						</form>
			
				</div>
				
				<div class="grid-item">
					<button class="b1" id="Adoniz"> Adoniz </button>
				</div>
				
				<div class="grid-item">
					<button class="b1" id="AGARO"> AGARO </button>
				</div>
				
				<div class="grid-item">
					<button class="b1"> AT and T </button>
				</div>
				 
			</div>
		</div>
		
		<div class="div_right" id="dr">
		
			<p id="p1"></p>
			<p id="p2"></p>
			<p id="p3"></p>
			<p id="p4"></p>
			<p id="p5"></p>
			
		</div>



        </body>
    
    </html>
    