    <html>
    
    <head> 
		<title> Mobile Recommendation </title>
		
    </head></br>
    
    <body>
	<h1> List of Brands </h1>
	<li> Amazon Renewed </li>
	<li> 4D </li>
	<li> Adoniz </li>
	<li> AGARO </li>
	<li> AT & T </li>
	<li> Aeidess </li>
	<li> Alfa </li>
	<li> Amazon Brand - Solimo </li>
	<li> AmazonBasics </li>
	<li> Amegon </li>
	<li> Amkette </li>
	<li> Amzer </li>
	<li> Anker </li>
	<li> Anselmo Global </li>
	<li> Ant Audio </li>
	<li> AOW ATTRACTIVE OFFER WORLD </li>
	<li> Aqua </li>
	<li> Artis </li>
	<li> B.R Telecome </li>
	<li> Beetel </li> <button onclick="myFunction"> View </button>
	<li> Blackbear </li>
	<li> Bainsh </li>
	<li> BAINSH </li>
	<li> Baseus </li>
	<li> Belkin </li>
	<li> BestTalk </li>
	<li> Bhulli </li>
	<li> Binatone </li>
	<li> BlackBerry </li>
	<li> Blaupunkt </li>
	<li> Bliss </li>
	<li> Boat </li>
	<li> Bose </li>
	<li> Boult Audio </li>
	<li> BOUNCEBACK </li>
	<li> Bracevor </li>
	<li> Buddy </li>
	<li> CAT </li>
	<li> CELLBELL </li>
	<li> COOL BUDDYZZ </li>
	<li> captcha </li>
	<li> CUBETEK </li>
	<li> Campro </li>
	<li> Canon </li>
	<li> CEDO </li>
	<li> Celkon </li>
	<li> CHILLI </li>
	<li> CIRCLE </li>
	<li> Classico </li>
	<li> Coolpad </li>
	<li> Corsair </li>
	<li> Cosmic Byte </li>
	<li> D3D </li>
	<li> DMG </li>
	<li> DOMO </li>
	<li> DEBOCK </li>
	<li> Dell </li>
	<li> DESIGNERZ HUB </li>
	<li> Die Hard </li>
	<li> Digitek </li>
	<li> DokFin </li>
	<li> EDNA </li>
	<li> Elv </li>
	<li> ENEM </li>
	<li> ENEM </li>
	<li> Eaanu </li>
	<li> elove </li>
	<li> Enviro Chip </li>
	<li> Equinox </li>
	<li> Unknown </li>
	<li> FREESOLO </li>
	<li> Fashionury </li>
	<li> Febelo </li>
	<li> FiiO </li>
	<li> FIRST MART - A BRAND WORTH REMEMBERING </li>
	<li> Flybot </li>
	<li> FORME </li>
	<li> FORTIFY </li>
	<li> Fotopro </li>
	<li> FYUGO </li>
	<li> G'Five </li>
	<li> GADGETS WRAP </li>
	<li> GIGASMART </li>
	<li> GLOVER </li>
	<li> Gadget365 </li>
	<li> Garmin </li>
	<li> Gear </li>
	<li> Geeky </li>
	<li> Gigaset </li>
	<li> Gionee </li>
	<li> GIZGA essentials </li>
	<li> Golden Sand </li>
	<li> Grandstream </li>
	<li> GreenBerry </li>
	<li> HAMSA </li>
	<li> HOMTOM </li>
	<li> HP </li>
	<li> HTC </li>
	<li> HUMBLE </li>
	<li> Haau </li>
	<li> </li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	

    </body>
    
    </html>